.panda-card{
    border: 0;
    
    margin-top: 10%;
   
}
#jacket{
   padding-bottom: 50%;
}
#men-jacket{
   
  padding-top: 40%;
}
.img-thumbnail{
    height: 40%;
    background-color: lightgray;
    border-radius: 5%;
}
.panda-card-footer{
    background-color:white;
    border: 0;
}

h1{
    font-size: 50px;
}
p{
    color: dimgray;
    margin-top: 20px;
    margin-bottom: 100px;
}
.name-highlight{
    color: orange;
}
.name-color{
    color: navy;
}

.top-banner{
    
    background-color: #fceae8;
    height: 700px;
}
#logo{
    width: 250px;
    height: 50px;
}
#content{
    padding-top: 10%;
}
#xmlid{
    padding-top: 50%;
    width: 100%;
    
}
.navbar-expand{ -sm|-md|-lg|-xl|-xxl};


a{
    
    text-align: center;
    text-decoration: none;
    color: dimgrey;
    font-size: 18px;
  
}

section{
    height: 500px;
    padding-top: 30px;
    padding-bottom: 170px;
}
.link-button{
    text-decoration: none;
    margin-top: 700px;
    padding: 20px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    background-color: chartreuse;
}